/* Initialization */
:root {
  --animate-delay: 0.3s;
}

*,
*:after,
*:before {
  scroll-behavior: smooth;
  scroll-margin-block-start: 10vh;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*,
*:focus,
*:active {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  border-radius: 10px;
}

body {
  width: 100%;
  font-family: "Poppins-Medium", Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
  background-color: #181824;
  color: #fff;
}

img {
  max-width: 100%;
  pointer-events: none;
  background-attachment: fixed;
}

a,
button {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  background: transparent;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

i {
  display: inline !important;
}

/* ----Main Part---- */
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.inactive, .active {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #7562E0;
  font-family: "Poppins-Semibold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 12px 16px;
  transition: all 0.4s ease;
}
.inactive:hover, .active:hover {
  background-color: #7562E0;
  color: #fff;
}

.active {
  background-color: #7562E0;
}
.active:hover {
  background-color: transparent;
}

.description {
  font-family: "Poppins-Medium", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 20px 0;
}

.title {
  font-family: "Poppins-Semibold", Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #7562E0;
}

.subtitle {
  font-family: "Poppins-Semibold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.show {
  display: inline-block !important;
}

.hide {
  display: none !important;
}

/* Header */
header {
  width: 100%;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  background-color: rgba(24, 24, 36, 0.85);
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
  height: 70px;
  padding: 12px 0;
  position: fixed;
  z-index: 999;
  top: 0;
}
header .header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  word-wrap: unset;
  word-break: unset;
  padding: 0 5%;
}
header .header__menu .header__logo {
  font-size: 28px;
  transition: all 0.4s ease;
  font-family: "Poppins-Semibold", Arial, Helvetica, sans-serif;
  flex-basis: 400px;
  color: #fff;
}
header .header__menu .header__logo small {
  font-size: 18px;
}
header .header__menu .header__logo span {
  transition: all 0.4s ease;
}
header .header__menu .header__logo:hover span {
  color: #7562E0;
}
header .header__menu .header__burger {
  display: none;
}
header .header__menu .header__menu-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
header .header__menu .header__menu-navigation .header__links {
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 10;
  flex-basis: 600px;
}
header .header__menu .header__menu-navigation .header__links li {
  text-align: center;
}
header .header__menu .header__menu-navigation .header__links li:last-child {
  margin-right: none;
}
header .header__menu .header__menu-navigation .header__links li a {
  font-family: "Poppins-Semibold", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
header .header__menu .header__menu-navigation .header__links li .telegram {
  background-color: #0d81ce;
  border: 2px solid #5b97be;
}
header .header__menu .header__menu-navigation .header__links li .telegram:hover {
  background-color: transparent;
}
header .header__menu .header__menu-navigation .header__links li .linkedin {
  background-color: #01548b;
  border: 2px solid #406d8b;
}
header .header__menu .header__menu-navigation .header__links li .linkedin:hover {
  background-color: transparent;
}
header .header__menu .header__menu-navigation .header__links li .discord {
  background-color: #5553d3;
  border: 2px solid #7289da;
}
header .header__menu .header__menu-navigation .header__links li .discord:hover {
  background-color: transparent;
}
header .header__menu .header__menu-navigation .header__links li .google {
  background-color: #dd3131;
  border: 2px solid #b45959;
}
header .header__menu .header__menu-navigation .header__links li .google:hover {
  background-color: transparent;
}
header .header__menu .header__button {
  width: 1fr;
  padding: 8px 16px;
}

/* Main */
main {
  width: 100%;
}
main section {
  margin-bottom: 6%;
}
main .introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
main .introduction__title {
  color: #fff;
}
main .introduction__title span {
  position: relative;
  color: #7562E0;
  transition: all 0.4s ease;
}
main .introduction__title span::after {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  border-radius: 10px;
  left: 0;
  background: #7562E0;
  bottom: -5px;
  transition: all 0.4s ease;
  width: 100%;
}
main .introduction__links a {
  margin-right: 20px;
}
main .introduction__links a:last-child {
  margin: 0;
}
main .introduction__scroll-down {
  position: absolute;
  bottom: 10%;
  left: 50%;
}
main .introduction__scroll-down .mouse {
  display: inline-block;
  width: 20px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
}
main .introduction__scroll-down .mouse:before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 5px;
  background: #fff;
  left: 10px;
  transform: translateX(-50%);
  border-radius: 10px;
  opacity: 1;
  -webkit-animation: mouse 2s infinite;
          animation: mouse 2s infinite;
  z-index: -1;
}
main .introduction__scroll-down .mouse span {
  display: block;
  width: 10px;
  height: 10px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
  margin-left: 3px;
  -webkit-animation: down-arrows 2s infinite;
          animation: down-arrows 2s infinite;
}
main .introduction__scroll-down .mouse span:nth-child(1) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
main .introduction__scroll-down .mouse span:nth-child(2) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
main .introduction__scroll-down .mouse span:nth-child(3) {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
main .introduction__scroll-down .mouse a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
main .projects {
  width: 100%;
}
main .projects .projects__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .projects .projects__list .projects__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
main .projects .projects__list .projects__item:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}
main .projects .projects__list .projects__item:nth-child(even) .projects__description .projects__account {
  justify-content: flex-end;
  align-items: flex-end;
}
main .projects .projects__list .projects__item:last-child {
  margin-bottom: 0;
}
main .projects .projects__list .projects__item .projects__image {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 15px;
}
main .projects .projects__list .projects__item .projects__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .projects .projects__list .projects__item .projects__description .projects__title {
  text-transform: uppercase;
}
main .projects .projects__list .projects__item .projects__description .projects__info p {
  margin: 0;
}
main .projects .projects__list .projects__item .projects__description .projects__account {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
main .projects .projects__list .projects__item .projects__description .projects__account .projects__technologies {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
main .projects .projects__list .projects__item .projects__description .projects__account .projects__technologies .technology {
  border-radius: 10px;
  transition: all 0.4s ease;
  padding: 5px 10px;
  margin-right: 10px;
  position: relative;
  border-bottom: 2px dashed #fff;
}
main .projects .projects__list .projects__item .projects__description .projects__account .projects__technologies .technology:last-child {
  margin-right: 0;
}
main .projects .projects__list .projects__item .projects__description .projects__account .projects__technologies .technology:hover {
  color: #7562E0;
}
main .projects .projects__list .projects__item .projects__description .projects__account .projects__links {
  white-space: nowrap;
  word-wrap: unset;
  word-break: unset;
}

#pages-main {
  margin-top: 100px;
}

/* Footer */
footer {
  height: 20px;
  padding-bottom: 10px;
}
footer .main-heading {
  margin-bottom: 2%;
  text-align: left;
}
footer .footer__text-below {
  display: block;
  height: 100%;
  margin: 25px 0;
}
footer .footer__text-below .footer-container__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #93939a;
}/*# sourceMappingURL=style.css.map */