/* Initialization */
:root {
  --animate-delay: 0.3s;
}

*,
*:after,
*:before {
  scroll-behavior: smooth;
  scroll-margin-block-start: 10vh;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*,
*:focus,
*:active {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  border-radius: 10px;
}

body {
  width: 100%;
  font-family: "Poppins-Medium", Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
  background-color: #181824;
  color: #fff;
}

img {
  max-width: 100%;
  pointer-events: none;
  background-attachment: fixed;
}

a,
button {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  background: transparent;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

i {
  display: inline !important;
}

/* ----Main Part---- */
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.inactive, .active {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #7562E0;
  font-family: "Poppins-Semibold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 12px 16px;
  transition: all 0.4s ease;
}
.inactive:hover, .active:hover {
  background-color: #7562E0;
  color: #fff;
}

.active {
  background-color: #7562E0;
}
.active:hover {
  background-color: transparent;
}

.description {
  font-family: "Poppins-Medium", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 20px 0;
}

.title {
  font-family: "Poppins-Semibold", Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #7562E0;
}

.subtitle {
  font-family: "Poppins-Semibold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.show {
  display: inline-block !important;
}

.hide {
  display: none !important;
}

/* Header */
header {
  width: 100%;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  background-color: rgba(24, 24, 36, 0.85);
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
  height: 70px;
  padding: 12px 0;
  position: fixed;
  z-index: 999;
  top: 0;
}
header .header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  word-wrap: unset;
  word-break: unset;
  padding: 0 5%;
}
header .header__menu .header__logo {
  font-size: 28px;
  transition: all 0.4s ease;
  font-family: "Poppins-Semibold", Arial, Helvetica, sans-serif;
  flex-basis: 400px;
  color: #fff;
}
header .header__menu .header__logo small {
  font-size: 18px;
}
header .header__menu .header__logo span {
  transition: all 0.4s ease;
}
header .header__menu .header__logo:hover span {
  color: #7562E0;
}
header .header__menu .header__burger {
  display: none;
}
header .header__menu .header__menu-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
header .header__menu .header__menu-navigation .header__links {
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 10;
  flex-basis: 600px;
}
header .header__menu .header__menu-navigation .header__links li {
  text-align: center;
}
header .header__menu .header__menu-navigation .header__links li:last-child {
  margin-right: none;
}
header .header__menu .header__menu-navigation .header__links li a {
  font-family: "Poppins-Semibold", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
header .header__menu .header__menu-navigation .header__links li .telegram {
  background-color: #0d81ce;
  border: 2px solid #5b97be;
}
header .header__menu .header__menu-navigation .header__links li .telegram:hover {
  background-color: transparent;
}
header .header__menu .header__menu-navigation .header__links li .linkedin {
  background-color: #01548b;
  border: 2px solid #406d8b;
}
header .header__menu .header__menu-navigation .header__links li .linkedin:hover {
  background-color: transparent;
}
header .header__menu .header__menu-navigation .header__links li .discord {
  background-color: #5553d3;
  border: 2px solid #7289da;
}
header .header__menu .header__menu-navigation .header__links li .discord:hover {
  background-color: transparent;
}
header .header__menu .header__menu-navigation .header__links li .google {
  background-color: #dd3131;
  border: 2px solid #b45959;
}
header .header__menu .header__menu-navigation .header__links li .google:hover {
  background-color: transparent;
}
header .header__menu .header__button {
  width: 1fr;
  padding: 8px 16px;
}

/* Main */
main {
  width: 100%;
}
main section {
  margin-bottom: 6%;
}
main .introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
main .introduction__title {
  color: #fff;
}
main .introduction__title span {
  position: relative;
  color: #7562E0;
  transition: all 0.4s ease;
}
main .introduction__title span::after {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  border-radius: 10px;
  left: 0;
  background: #7562E0;
  bottom: -5px;
  transition: all 0.4s ease;
  width: 100%;
}
main .introduction__links a {
  margin-right: 20px;
}
main .introduction__links a:last-child {
  margin: 0;
}
main .introduction__scroll-down {
  position: absolute;
  bottom: 10%;
  left: 50%;
}
main .introduction__scroll-down .mouse {
  display: inline-block;
  width: 20px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
}
main .introduction__scroll-down .mouse:before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 5px;
  background: #fff;
  left: 10px;
  transform: translateX(-50%);
  border-radius: 10px;
  opacity: 1;
  -webkit-animation: mouse 2s infinite;
          animation: mouse 2s infinite;
  z-index: -1;
}
main .introduction__scroll-down .mouse span {
  display: block;
  width: 10px;
  height: 10px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
  margin-left: 3px;
  -webkit-animation: down-arrows 2s infinite;
          animation: down-arrows 2s infinite;
}
main .introduction__scroll-down .mouse span:nth-child(1) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
main .introduction__scroll-down .mouse span:nth-child(2) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
main .introduction__scroll-down .mouse span:nth-child(3) {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
main .introduction__scroll-down .mouse a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
main .projects {
  width: 100%;
}
main .projects .projects__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .projects .projects__list .projects__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
main .projects .projects__list .projects__item:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}
main .projects .projects__list .projects__item:nth-child(even) .projects__description .projects__account {
  justify-content: flex-end;
  align-items: flex-end;
}
main .projects .projects__list .projects__item:last-child {
  margin-bottom: 0;
}
main .projects .projects__list .projects__item .projects__image {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 15px;
}
main .projects .projects__list .projects__item .projects__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .projects .projects__list .projects__item .projects__description .projects__title {
  text-transform: uppercase;
}
main .projects .projects__list .projects__item .projects__description .projects__info p {
  margin: 0;
}
main .projects .projects__list .projects__item .projects__description .projects__account {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
main .projects .projects__list .projects__item .projects__description .projects__account .projects__technologies {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
main .projects .projects__list .projects__item .projects__description .projects__account .projects__technologies .technology {
  border-radius: 10px;
  transition: all 0.4s ease;
  padding: 5px 10px;
  margin-right: 10px;
  position: relative;
  border-bottom: 2px dashed #fff;
}
main .projects .projects__list .projects__item .projects__description .projects__account .projects__technologies .technology:last-child {
  margin-right: 0;
}
main .projects .projects__list .projects__item .projects__description .projects__account .projects__technologies .technology:hover {
  color: #7562E0;
}
main .projects .projects__list .projects__item .projects__description .projects__account .projects__links {
  white-space: nowrap;
  word-wrap: unset;
  word-break: unset;
}

#pages-main {
  margin-top: 100px;
}
#pages-main .main__search-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 35px;
}
#pages-main .main__search-container .search {
  --background: #ffffff;
  --text-color: #414856;
  --primary-color: #7562E0;
  --width: 500px;
  --height: 55px;
  background: var(--background);
  width: auto;
  height: var(--height);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
#pages-main .main__search-container .search input[type=text] {
  position: relative;
  width: var(--height);
  height: var(--height);
  font: 400 16px "Varela Round", sans-serif;
  color: var(--text-color);
  border: 0;
  box-sizing: border-box;
  outline: none;
  padding: 0 0 0 40px;
  transition: width 0.6s ease;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}
#pages-main .main__search-container .search input[type=text]:focus {
  z-index: 0;
  opacity: 1;
  width: var(--width);
}
#pages-main .main__search-container .search input[type=text]:focus ~ .symbol::before {
  width: 0%;
}
#pages-main .main__search-container .search input[type=text]:focus ~ .symbol:after {
  -webkit-clip-path: inset(0% 0% 0% 100%);
          clip-path: inset(0% 0% 0% 100%);
  transition: -webkit-clip-path 0.04s linear 0.105s;
  transition: clip-path 0.04s linear 0.105s;
  transition: clip-path 0.04s linear 0.105s, -webkit-clip-path 0.04s linear 0.105s;
}
#pages-main .main__search-container .search input[type=text]:focus ~ .symbol .cloud {
  top: -30px;
  left: -30px;
  transform: translate(0, 0);
  transition: all 0.6s ease;
}
#pages-main .main__search-container .search input[type=text]:focus ~ .symbol .lens {
  top: 20px;
  left: 15px;
  transform: translate(0, 0);
  fill: var(--primary-color);
  transition: top 0.5s ease 0.1s, left 0.5s ease 0.1s, fill 0.3s ease;
}
#pages-main .main__search-container .search .symbol {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pages-main .main__search-container .search .symbol:before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: -1;
  transition: width 0.6s ease;
}
#pages-main .main__search-container .search .symbol:after {
  content: "";
  position: absolute;
  top: 21px;
  left: 21px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary-color);
  z-index: 1;
  -webkit-clip-path: inset(0% 0% 0% 0%);
          clip-path: inset(0% 0% 0% 0%);
  transition: -webkit-clip-path 0.04s linear 0.225s;
  transition: clip-path 0.04s linear 0.225s;
  transition: clip-path 0.04s linear 0.225s, -webkit-clip-path 0.04s linear 0.225s;
}
#pages-main .main__search-container .search .symbol .cloud,
#pages-main .main__search-container .search .symbol .lens {
  position: absolute;
  fill: #fff;
  stroke: none;
  top: 50%;
  left: 50%;
}
#pages-main .main__search-container .search .symbol .cloud {
  width: 35px;
  height: 32px;
  transform: translate(-50%, -60%);
  transition: all 0.6s ease;
}
#pages-main .main__search-container .search .symbol .lens {
  fill: #fff;
  width: 16px;
  height: 16px;
  z-index: 2;
  top: 24px;
  left: 24px;
  transition: top 0.3s ease, left 0.3s ease, fill 0.2s ease 0.2s;
}
#pages-main .main-cards__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 40px;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}
#pages-main .main-cards__list .main-cards__item {
  position: relative;
  width: 333px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  background-position: left center;
  background-size: cover;
  text-align: center;
  color: #7562E0;
  transition: all 0.4s ease;
}
#pages-main .main-cards__list .main-cards__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 72, 112, 0);
  transition: all 0.4s ease;
}
#pages-main .main-cards__list .main-cards__item .main-cards__item-container {
  height: 100px;
}
#pages-main .main-cards__list .main-cards__item .main-cards__item-container .content {
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: translateY(20px);
  transition: all 0.4s ease;
}
#pages-main .main-cards__list .main-cards__item .main-cards__item-container .content .content__link {
  border: 3px solid white;
  padding: 10px 15px;
  background: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
}
#pages-main .main-cards__list .main-cards__item .main-cards__item-container .content .content__link:hover {
  background: white;
  border: 0px solid white;
  color: #7562E0;
}
#pages-main .main-cards__list .main-cards__item .main-cards__info-container {
  flex: 1 0 auto;
  padding: 20px;
  background: #fff;
  transform: translateY(206px);
  transition: all 0.4s ease;
  text-overflow: ellipsis;
}
#pages-main .main-cards__list .main-cards__item .main-cards__info-container .title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
#pages-main .main-cards__list .main-cards__item .main-cards__info-container .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 50px;
  margin: auto;
  background: #01548b;
}
#pages-main .main-cards__list .main-cards__item .main-cards__info-container .subtitle {
  font-size: 18px;
  color: #01548b;
  margin-bottom: 25px;
  text-transform: none;
}
#pages-main .main-cards__list .main-cards__item .main-cards__more-info {
  opacity: 0;
  transition: all 0.4s ease;
}
#pages-main .main-cards__list .main-cards__item .main-cards__more-info .main-cards__technologies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin-bottom: 15px;
}
#pages-main .main-cards__list .main-cards__item .main-cards__more-info .main-cards__technologies .technology {
  background-color: transparent;
  border: 2px solid #3f3f3f;
  padding: 5px 10px;
  color: #3f3f3f;
  border-radius: 10px;
  transition: all 0.4s ease;
}
#pages-main .main-cards__list .main-cards__item .main-cards__more-info .main-cards__technologies .technology:hover {
  background-color: #3f3f3f;
  color: #fff;
}
#pages-main .main-cards__list .main-cards__item .main-cards__more-info .main-cards__info-link {
  display: block;
  width: 60%;
  margin: 0 auto;
  white-space: nowrap;
  padding: 5px;
  background-color: #7562E0;
  border: 2px solid #7562E0;
  transition: all 0.4s ease;
  border-radius: 10px;
  color: #fff;
}
#pages-main .main-cards__list .main-cards__item .main-cards__more-info .main-cards__info-link a {
  width: 100%;
  height: 100%;
}
#pages-main .main-cards__list .main-cards__item .main-cards__more-info .main-cards__info-link:hover {
  background-color: transparent;
  color: #7562E0;
}
#pages-main .main-cards__list .main-cards__item:hover::before {
  background: rgba(32, 10, 112, 0.548);
}
#pages-main .main-cards__list .main-cards__item:hover .main-cards__item-container .content {
  opacity: 1;
  transform: translateY(0px);
}
#pages-main .main-cards__list .main-cards__item:hover .main-cards__info-container {
  transform: translateY(0px);
}
#pages-main .main-cards__list .main-cards__item:hover .main-cards__info-container .main-cards__more-info {
  opacity: 1;
}

/* Footer */
footer {
  height: 20px;
  padding-bottom: 10px;
}
footer .main-heading {
  margin-bottom: 2%;
  text-align: left;
}
footer .footer__text-below {
  display: block;
  height: 100%;
  margin: 25px 0;
}
footer .footer__text-below .footer-container__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #93939a;
}/*# sourceMappingURL=style.css.map */