@use 'options/options';
// @import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* Initialization */

:root {
    --animate-delay: 0.3s;
}

*,
*:after,
*:before {
    scroll-behavior: smooth;
    scroll-margin-block-start: 10vh;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

*,
*:focus,
*:active {
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    // background: rgba(0, 0, 0, 0.3);
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid options.$white-color;
    border-radius: options.$default-border-radius;
    
}

body {
    width: 100%;
    @include options.medium-normal-text;
    position: relative;
    line-height: 1.65;
    overflow-x: hidden;
    background-color: options.$bg-color;
    color: options.$white-color;
}

img {
    max-width: 100%;
    pointer-events: none;
    background-attachment: fixed;
}

a,
button {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    background: transparent;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
}

i{
    display: inline !important;
}

/* ----Main Part---- */

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
}

.inactive{
    background-color: transparent;
	border-radius: options.$default-border-radius;
	border: 2px solid options.$purple-color;
	@include options.font-specified-text(options.$semibold-font-family, options.$button-text-size);
	padding: 12px 16px;
    transition: options.$default-transition;
    &:hover{
        background-color: options.$purple-color;
        color: options.$white-color;
    }
}

.active{
    @extend .inactive;
    background-color: options.$purple-color;

    &:hover{
        background-color: transparent;
    }
}

.description{
    @include options.medium-normal-text;
    margin: 20px 0;
}

.title{
    @include options.font-specified-text(options.$semibold-font-family, options.$title-text-size, options.$purple-color);
}

.subtitle{
    @include options.font-specified-text(options.$semibold-font-family, options.$subtitle-text-size, options.$white-color, text-transform, uppercase);
}

.show {
    display: inline-block !important;
}

.hide {
    display: none !important;
}

/* Header */

header {
    width: 100%;
    backdrop-filter: blur(7px);
    background-color: rgba(24, 24, 36, 0.85);
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.75);
    height: 70px;
    padding: 12px 0;
    position: fixed;
    z-index: 999;
    top: 0;

    .header__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        white-space: nowrap;
        word-wrap: unset;
        word-break: unset;
        padding: 0 5%;

        .header__logo{
            font-size: 28px;
            transition: options.$default-transition;
            font-family: options.$semibold-font-family;
            flex-basis: 400px;
            color: options.$white-color;

            small {
                font-size: options.$normal-text-size;
            }

            span {
                transition: options.$default-transition;
            }

            &:hover {
                span {
                    color: options.$purple-color;
                }
            }
        }

        .header__burger {
            display: none;
        }

        .header__menu-navigation {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;

            .header__links{
                display: flex;
                justify-content: space-evenly;
                flex-shrink: 10;
                flex-basis: 600px;

                li{
                    text-align: center;
            
                    &:last-child{
                        margin-right: none;
                    }
            
                    a{
                        @include options.font-specified-text(options.$semibold-font-family, options.$button-text-size);
                    }

                    .telegram {
                        background-color: options.$telegram-main-color;
                        border: 2px solid options.$telegram-border-color;

                        &:hover {
                            background-color: transparent;
                        }
                    }

                    .linkedin {
                        background-color: options.$linkedin-main-color;
                        border: 2px solid options.$linkedin-border-color;

                        &:hover {
                            background-color: transparent;
                        }
                    }

                    .discord {
                        background-color: options.$discord-main-color;
                        border: 2px solid options.$discord-border-color;

                        &:hover {
                            background-color: transparent;
                        }
                    }

                    .google {
                        background-color: options.$google-main-color;
                        border: 2px solid options.$google-border-color;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        .header__button {
            width: 1fr;
            padding: 8px 16px;
        }
    }
}

/* Main */

main {
    width: 100%;

    section{
        margin-bottom: 6%;
    }

    .introduction{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        min-height: 100vh;

        &__title {
            color: options.$white-color;

            span {
                position: relative;
                color: options.$purple-color;
                transition: options.$default-transition;

                &::after {
                    display: block;
                    position: absolute;
                    content: "";
                    height: 3px;
                    border-radius: options.$default-border-radius;
                    left: 0;
                    background: options.$purple-color;
                    bottom: -5px; 
                    transition: options.$default-transition;
                    width: 100%;
                }
            }
        }

        &__links {
            a {
                margin-right: 20px;

                &:last-child{
                    margin: 0;
                }
            }
        }

        &__scroll-down {
            position: absolute;
            bottom: 10%;
            left: 50%;

            .mouse {
                display: inline-block;
                width: 20px;
                height: 30px;
                border: 2px solid options.$white-color;
                border-radius: options.$default-border-radius;
                text-align: center;

                &:before {
                    content: "";
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    top: 5px;
                    background: options.$white-color;
                    left: 10px;
                    transform: translateX(-50%);
                    border-radius: options.$default-border-radius;
                    opacity: 1;
                    animation: mouse 2s infinite;
                    z-index: -1;
                }

                span {
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-right: 1px solid options.$white-color;
                    border-bottom: 1px solid options.$white-color;
                    transform: rotate(45deg);
                    margin-left: 3px;
                    animation: down-arrows 2s infinite;

                    &:nth-child(1) {
                        animation-delay: -0.2s;
                    }

                    &:nth-child(2) {
                        animation-delay: -0.4s;
                    }

                    &:nth-child(3) {
                        animation-delay: -0.1s;
                    }
                }

                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    
                }
            }
        }
    }

    .projects {
        width: 100%;

        .projects__list {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .projects__item {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 40px;

                &:nth-child(even) {
                    flex-direction: row-reverse;
                    text-align: right;

                    .projects__description {
                        .projects__account {
                            justify-content: flex-end;
                            align-items: flex-end;
                        }
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }

                .projects__image {
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    padding: 15px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .projects__description {

                    .projects__title {
                        text-transform: uppercase;
                    }

                    .projects__info {
                        p {
                            margin: 0;
                        }
                    }

                    .projects__account{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;

                        .projects__technologies {
                            display: flex;
                            margin-top: 10px;
                            margin-bottom: 20px;
    
                            .technology {
                                border-radius: options.$default-border-radius;
                                transition: options.$default-transition;
                                padding: 5px 10px;
                                margin-right: 10px;
                                position: relative;
                                border-bottom: 2px dashed options.$white-color;
    
                                &:last-child {
                                    margin-right: 0;
                                }

                                &:hover {
                                    color: options.$purple-color;
                                }
                            }
                        }

                        .projects__links {
                            white-space: nowrap;
                            word-wrap: unset;
                            word-break: unset;
                        }
                    }
                }
            }
        }
    }
}

#pages-main {
    margin-top: 100px;
}

/* Footer */

footer {
    height: 20px;
    padding-bottom: 10px;

    .main-heading {
        margin-bottom: 2%;
        text-align: left;
    }

    .footer__text-below{
        display: block;
        height: 100%;
        margin: 25px 0;
        .footer-container__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            color: options.$text-input-color;
        }
    }
}