*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto;
}

/* Container */

.container {
    width: 100%;
    height: 100%;
    max-width: 1680px;
    max-height: 1080px;
    margin: 0 auto;
}

.container__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.container__content p {
    color: #fff;
    max-width: 575px;
    font-style: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: none;
    margin: 550px 0 0 200px;
}

/* Main */

.main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Intro */

.intro {
    max-width: 1920px;
    min-height: 1120px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.2;
    background: url("../images/intro.png") center no-repeat;
    background-size: cover;
    z-index: 3;
}

/* Picture */

.big-pict {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 auto;
}

.pictures {
    display: flex;
}

.picture {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.number-1{
    height: 430px;
}

.number-3{
    height: 860px;
}

.number-5{
    height: 480px;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 0 55px 0;
    padding-top: 35px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

.header__logo {
    background: url("../images/logo.png") no-repeat;
    width: 240px;
    height: 70px;
}

.user__logo {
    width: 245px;
    height: 245px;
    margin: 0 50px;
    border: 3px solid #fff;
    border-radius: 50%;
}

/* Nav */

.nav {
    font-size: 16px;
    text-transform: capitalize;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: color .5s;
}

.nav__link:hover {
    color: darkorange;

}

/* Section */

.section {
    padding: 80px 0;
}

.section__header {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto 45px;
    text-align: center;
}

.section__header p {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}

/* Offer */

.offer-i {
    margin: 0 200px;
    display: flex;
    justify-content: center;
}

.offer__item {
    width: 100%;
    max-width: 270px;
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
    text-align: center;
}

/* Title & sup-title */

.offer__title {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
}

.offer__sup__title {
    color: gray;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
}

.section__title {
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
}

.container__sup__title {
    font-weight: 900;
    font-size: 30px;
    color: #7da5c7;
    text-align: center;
}

.container__title {
    font-size: 250px;
    font-weight: 900;
    letter-spacing: -10px;
    background: linear-gradient(95deg, #4983be 20%, skyblue 55%, #4983be 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.crew__title {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
}

.crew__sup__title {
    color: gray;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
}

.crew__title__head {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
}

.about__title {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
}

.testimonials__title__head {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
}

.testimonials__title {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
}

.contact-us__title {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    margin: 30px 0 0 0;
}

.contact-us__sup__title {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin: 30px 0 0 0;
    width: 300px;
    position: relative;
}

.contact-us__sup__title:last-child {
    margin: 30px 0 30px 0;
}

/* Crew */

.crew {
    padding: 80px 0;
}

.crew__user {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.crew__head {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
}

/* About */

.about {
    background: url("../images/background-about.png") center no-repeat;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.about__item {
    width: 100%;
    max-width: 1260px;
    margin: 100px 330px;
    padding: 120px 0 150px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}

.about__content {
    width: 75%;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.about__awards {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.about__award h1 {
    color: #ff660d;
    font-weight: 900;
    font-size: 64px;
}

.about__award span {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.about__header {
    width: 100%;
    max-width: 725px;
    padding: 200px 0 50px 0;
}

/* Testimonials */

.testimonials {
    padding: 150px 0 50px 0;
}

.testimonials__header {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.testimonials__user {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.testimonials__user__content p {
    width: 45%;
    margin: 15px 550px;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.testimonials__mini__slider {
    width: 100%;
    max-width: 200px;
    margin: 15px 850px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

/* Contact-us */

.contact-us {
    margin: 0 auto;
    background-color: #2f2f2f;
    max-width: 1920px;
    min-height: 530px;
    max-height: 640px;
    width: 100%;
    height: 100%;
}

.contact-us__items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.contact-us__first {
    width: 100%;
    max-width: 570px;
    max-height: 640px;
    margin: 10px 0 0 120px;
}

.contact-us__all__data {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact-us__all__data li::before {
    content: '';
    position: absolute;
    height: 35px;
    width: 45px;
    left: -45px;
}

.contact-us__second {
    display: flex;
    align-items: stretch;
    width: 1280px;
    height: 530px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

/* Icons */

.icons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.icons i:first-child{
    margin: 0 55px 0 0;
}

.phone:before {
    background: url("../images/contact_icons/icon_first.jpg") center no-repeat;
}

.address:before {
    background: url("../images/contact_icons/icon_second.jpg") center no-repeat;
}

.mail:before {
    background: url("../images/contact_icons/icon_third.jpg") center no-repeat;
}

.clock:before {
    background: url("../images/contact_icons/icon_fourth.jpg") center no-repeat;
}

/* Button */

.button {
    width: 250px;
    height: 50px;
    margin: 35px 0 0 200px;
    padding: 15px 48px;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #ff6b0f 5%, #f24437 100%);
    background-color: #ff6b0f;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    border: 0px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    text-shadow: 0px 1px 0px #810e05;
    z-index: 4;
    transition: all 1s;
}

.btn {
    margin: 0 auto;
    width: 150px;
    height: 50px;
    padding: 13px 28px;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #ff6b0f 5%, #f24437 100%);
    background-color: #ff6b0f;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    border: 0px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    text-shadow: 0px 1px 0px #810e05;
    transition: all 1s;
}

.btn__slider {
    width: 15px;
    height: 15px;
    margin: 15px 0;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    transition: all .5s;
}

.btn__slider:hover {
    background-color: #ff6b0f;
    transform: scale(1.2);
}

.button:hover {
    background: linear-gradient(to bottom, #f24437 5%, #ff6b0f 100%);
    background-color: #f24437;
}

.button:active {
    position: relative;
    top: 1px;
}