@media screen and (max-width: 2560px) {
    .what-people-say .section-title{
        margin-bottom: 0;
    }
    
    .features-items {
        grid-template-columns: 5fr 2fr 5fr;
        grid-template-areas:
            "first-col second-col third-col";
    }

    .first-col {
        margin-top: 10%;
        text-align: right;
        max-width: 275px;
    }

    .second-col {
        top: -21%;
    }

    .third-col {
        margin-top: 10%;
        max-width: 275px;
    }

    .subscribe {
        display: block;
        /*        max-width: 1920px;*/
        width: 100%;
        max-height: 500px;
        text-align: center;
        margin: 5% auto;
    }

    .subscribe-input-settings {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
            ". subscribe-input .";
        text-align: left;
        width: 100%;
    }

    .subscribe-input {
        grid-area: subscribe-input;
        margin: 7% 20%;
        padding: 16px;
        width: 700px;
        color: #9c9c9c;
        background-color: #f8f8f8;
        position: relative;
        border-color: #f8f8f8;
        border-style: solid;
        border-width: 2px;
        border-radius: 23px;
    }

    .subscribe-input input {
        font-size: 18px;
        border: none;
        background-color: #f8f8f8;
    }

    .subscribe-input input:focus {
        outline: none;
    }

    /* Download */

    .download {
        display: block;
        /*        max-width: 1920px;*/
        width: 100%;
        max-height: 500px;
        text-align: center;
        margin: 5% auto;
    }

    .download-available {
        margin-top: 3%;
    }
}

@media screen and (max-width: 1920px) {
    .features-items {
        grid-template-columns: 5fr 2fr 5fr;
        grid-template-areas:
            "first-col second-col third-col";
    }

    .first-col {
        margin-top: 14%;
        text-align: right;
        max-width: 275px;
    }

    .third-col {
        margin-top: 14%;
        max-width: 275px;
    }
}

@media screen and (max-width: 1490px) {
    .features-items {
        grid-template-columns: 3fr 2fr 3fr;
        grid-template-areas:
            "first-col second-col third-col";
    }
}

@media screen and (max-width: 1440px) {
    .what-people-say {
        grid-template-columns: 3fr;
        grid-template-areas:
            "section-text"
            "section-users";
    }

    .what-people-say .section-text {
        margin: 5% 0;
    }

    .section-items {
        margin: 0;
    }

    .section-users {
        margin: 0 5%;
    }

    .features {
        margin-bottom: 100px;
    }

    .second-col {
        top: -23%;
    }
}

@media screen and (max-width: 1360px) {
    .easy-messaging {
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-template-areas:
            "message-img section-text";

    }

    .easy-messaging .section-text {
        max-width: 500px;
    }

    .features-items {
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-areas:
            "first-col second-col third-col";
    }

    .keep-in-touch {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
            "section-text keep-in-touch-img";
    }

    .subscribe-input {
        grid-area: subscribe-input;
        margin: 7% 17%;
        width: 450px;
    }
}

@media screen and (max-width: 1330px) {
    .features-items {
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 20px;
        grid-template-areas:
            "first-col third-col";
        justify-items: space-around;
        align-items: center;
        position: relative;
        max-height: 550px;
    }

    .first-col {
        margin-top: 19%;
        text-align: right;
        max-width: 400px;
    }

    .second-col {
        display: none;
    }

    .third-col {
        margin-top: 19%;
        max-width: 400px;
    }

    .conversation img {
        top: 15%;
        right: -25%;
    }

    .make-a-call img {
        top: 80%;
        right: -25%;
    }

    .take-a-picture img {
        top: 15%;
        left: -30%;
    }

    .send-video img {
        top: 80%;
        left: -30%;
    }
}

@media screen and (max-width: 1280px) {
    .features-items {
        grid-column-gap: 150px;
    }
    
    .section-items {
        margin: 0 2%;
    }
}

@media screen and (max-width: 1140px) {
    .header {
        grid-template-columns: 1fr 2fr 4fr;
        grid-template-rows: 2fr 25fr;
        grid-template-areas:
            "header-logo . header-nav"
            ". header-text header-img";
    }

    .header-logo {
        font-size: 40px;
    }

    .header-nav__link {
        font-size: 17px;
    }

    .header-title {
        font-size: 58px;
    }

    .header-subtitle {
        font-size: 20px;
    }

    .header-button {
        margin-top: 70px;
    }

    .easy-messaging .section-title {
        font-size: 45px;
        margin-bottom: 40px;
    }

    .easy-messaging .section-subtitle {
        font-size: 16px;
    }

    .easy-messaging .section-text {
        max-width: 400px;
    }

    .keep-in-touch {
        margin-left: 12%;
    }

    .keep-in-touch .section-title {
        font-size: 45px;
        margin-bottom: 40px;
    }

    .keep-in-touch .section-subtitle {
        font-size: 16px;
    }

    .keep-in-touch .section-text {
        max-width: 400px;
    }

    .what-people-say {
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr 18fr 1fr;
        grid-template-areas:
            ". section-text ."
            ". section-users .";
    }

    .section-user .section-feedback-text p {
        font-size: 17px;
    }

    .what-people-say .section-title {
        font-size: 45px;
    }

    .section-items {
        max-width: 350px;
        margin-right: 5%;
    }

    .section-items:last-child {
        margin-right: 0;
    }

    .subscribe .section-title {
        font-size: 45px;
    }

    .subscribe .section-subtitle {
        font-size: 16px;
        margin: 0 5%;
    }

    .subscribe-input {
        margin: 7% 10%;
        padding: 16px;
        width: 450px;
    }

    .subscribe-input input {
        font-size: 16px;
    }

    .download .section-title {
        font-size: 45px;
    }

    .download .section-subtitle {
        font-size: 16px;
        margin: 0 5%;
    }

    .footer {
        height: 80px;
    }

    .footer-nav__link {
        font-size: 16px;
    }

    .features-items {
        grid-column-gap: 220px;
    }

}

@media screen and (max-width: 990px) {
    .header {
        grid-template-columns: 1fr 2fr 4fr;
        grid-template-rows: 2fr 25fr;
        grid-template-areas:
            "header-logo . header-nav"
            ". header-text header-img";
    }

    .header-logo {
        font-size: 40px;
    }

    .header-nav__link {
        font-size: 17px;
    }

    .header-title {
        font-size: 50px;
    }

    .header-subtitle {
        font-size: 18px;
    }

    .header-button {
        margin-top: 70px;
    }

    .easy-messaging .section-title {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .easy-messaging .section-subtitle {
        font-size: 16px;
    }

    .easy-messaging .section-text {
        max-width: 350px;
    }

    .keep-in-touch {
        margin-left: 12%;
    }

    .keep-in-touch .section-title {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .keep-in-touch .section-subtitle {
        font-size: 16px;
    }

    .keep-in-touch .section-text {
        max-width: 350px;
    }

    .what-people-say {
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr 18fr 1fr;
        grid-template-areas:
            ". section-text ."
            ". section-users .";
    }

    .what-people-say .section-title {
        font-size: 45px;
    }

    .section-user .section-feedback-text p {
        font-size: 16px;
    }

    .section-items {
        max-width: 350px;
        margin-right: 5%;
    }

    .section-items:last-child {
        margin-right: 0;
    }

    .features-items h1 {
        font-size: 28px;
    }

    .features-items p {
        font-size: 17px;
    }


    .first-col {
        margin: 25% 0;
        text-align: right;
        max-width: 400px;
    }

    .second-col {
        display: none;
    }

    .third-col {
        margin: 10% 0;
        max-width: 400px;
    }

    .conversation img {
        top: 15%;
        right: -25%;
    }

    .make-a-call img {
        top: 80%;
        right: -25%;
    }

    .take-a-picture img {
        top: 15%;
        left: -30%;
    }

    .send-video img {
        top: 80%;
        left: -30%;
    }

    .subscribe .section-title {
        font-size: 40px;
    }

    .subscribe .section-subtitle {
        font-size: 15px;
    }

    .subscribe-input {
        margin: 7% 10%;
        padding: 15px;
        width: 450px;
    }

    .subscribe-input input {
        font-size: 16px;
    }

    .download .section-title {
        font-size: 40px;
    }

    .download .section-subtitle {
        font-size: 15px;
    }

    .footer {
        height: 80px;
    }

    .footer-nav__link {
        font-size: 15px;
    }
}

@media screen and (max-width: 930px) {

    .header-logo {
        font-size: 40px;
    }

    .header-title {
        font-size: 45px;
    }

    .easy-messaging {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "section-text"
            "message-img";
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .easy-messaging .section-title {
        font-size: 50px;
        margin-bottom: 40px;
    }

    .easy-messaging .section-subtitle {
        font-size: 17px;
    }

    .easy-messaging .section-text {
        max-width: 500px;
    }

    .first {
        margin-top: 10%;
        margin-right: 45%;
    }

    .second {
        margin-top: 10%;
        margin-left: 45%;
    }

    .keep-in-touch {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "section-text"
            "keep-in-touch-img";
        justify-items: center;
        align-items: center;
        text-align: center;
        margin-top: 5%;
        margin-left: 0;
    }

    .first-in-touch {
        margin-top: 10%;
        margin-right: 45%;
    }

    .second-in-touch {
        margin-top: 10%;
        margin-left: 45%;
    }

    .keep-in-touch .section-title {
        font-size: 50px;
        margin-bottom: 40px;
    }

    .keep-in-touch .section-subtitle {
        font-size: 17px;
    }

    .keep-in-touch .section-text {
        max-width: 500px;
    }

    .features {
        max-height: 350px;
    }

    .subscribe-input {
        margin: 7% 4%;
        padding: 15px;
        width: 450px;
    }
}

@media screen and (max-width: 900px) {
    .what-people-say {
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr 18fr 1fr;
        grid-template-areas:
            ". section-text ."
            ". section-users .";
    }

    .what-people-say .section-title {
        font-size: 40px;
    }

    .section-user .section-feedback-text p {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .section-items {
        max-width: 350px;
        margin-right: 5%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 798px) {
    .header {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 2fr 25fr;
        grid-template-areas:
            "header-logo header-nav"
            ". header-text";
        max-height: 650px;
    }

    .header-text {
        justify-self: left;
    }

    .header-title {
        font-size: 50px;
        margin-bottom: 40px;
    }

    .header-subtitle {
        font-size: 20px;
    }

    .header-img {
        display: none;
    }

    .what-people-say {
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr 18fr 1fr;
        grid-template-areas:
            ". section-text ."
            ". section-users .";
    }

    .what-people-say .section-title {
        font-size: 40px;
    }

    .section-user .section-feedback-text p {
        font-size: 15px;
    }

    .section-items {
        max-width: 350px;
        margin-right: 5%;
    }

    .subscribe .section-title {
        font-size: 35px;
    }

    .subscribe .section-subtitle {
        font-size: 16px;
    }

    .subscribe-input {
        margin: 7% 5%;
        padding: 15px;
        width: 450px;
    }

    .subscribe-input input {
        font-size: 16px;
    }

    .download .section-title {
        font-size: 35px;
    }

    .download .section-subtitle {
        font-size: 16px;
    }

    .footer-nav__link {
        font-size: 14px;
    }

    .button {
        font-size: 16px;
        padding: 16px 41px;
    }
}

@media screen and (max-width: 770px) {
    .header {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 2fr 25fr;
        grid-template-areas:
            "header-logo header-nav"
            ". header-text";
        max-height: 650px;
    }

    .header-text {
        justify-self: left;
    }

    .header-title {
        font-size: 50px;
        margin-bottom: 40px;
    }

    .header-subtitle {
        font-size: 20px;
    }

    .header-img {
        display: none;
    }

    .what-people-say {
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "section-text"
            "section-users";
        min-height: 1300px;
    }

    .section-users {
        height: 30%;
        display: flex;
        flex-wrap: wrap;
    }

    .section-user {
        width: 300px;
    }

    .section-items {
        margin-bottom: 7%;
        margin-right: 0;
        width: 100%;
    }

    .section-items:last-child {
        margin-bottom: 0;
    }

    .features {
        min-height: 700px;
        max-height: 750px;
    }

    .features-items {
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "first-col"
            "third-col";
        justify-items: space-around;
        align-items: center;
        position: relative;
    }

    .features-items h1 {
        font-size: 28px;
    }

    .features-items p {
        font-size: 17px;
    }


    .first-col {
        margin: 0;
        text-align: right;
        max-width: 400px;
    }

    .second-col {
        display: none;
    }

    .third-col {
        margin-top: 13%;
        margin-bottom: 0;
        max-width: 400px;
    }

    .conversation img {
        top: 15%;
        right: -25%;
    }

    .make-a-call img {
        top: 80%;
        right: -25%;
    }

    .take-a-picture img {
        top: 15%;
        left: -30%;
    }

    .send-video img {
        top: 80%;
        left: -30%;
    }
}

@media screen and (max-width: 720px) {
    .first {
        display: none;
    }

    .second {
        margin: 8% auto;
    }

    .first-in-touch {
        margin: 8% auto;
    }

    .second-in-touch {
        display: none;
    }

    .features {
        min-height: 850px;
        max-height: 851px;
    }

    .features-items h1 {
        font-size: 24px;
    }

    .features-items p {
        font-size: 17px;
    }


    .first-col {
        margin: 10% 0;
        text-align: right;
        max-width: 300px;
    }

    .second-col {
        display: none;
    }

    .third-col {
        margin: 10% 0;
        max-width: 300px;
    }

    .conversation img {
        top: 15%;
        right: -25%;
    }

    .make-a-call img {
        top: 80%;
        right: -25%;
    }

    .take-a-picture img {
        top: 15%;
        left: -30%;
    }

    .send-video img {
        top: 80%;
        left: -30%;
    }

    .subscribe .section-title {
        font-size: 30px;
    }

    .subscribe .section-subtitle {
        font-size: 16px;
        margin: 0 5%;
    }

    .subscribe-input {
        margin: 7% 0;
        padding: 15px;
        width: 450px;
    }

    .download .section-title {
        font-size: 30px;
    }

    .download .section-subtitle {
        font-size: 16px;
        margin: 0 5%;
    }

    .footer-nav__link {
        font-size: 13px;
    }

    .button-subscribe {
        font-size: 17px;
        padding: 16px 51px;
        left: 59%;
        top: 0;
    }
}

@media screen and (max-width: 640px) {
    .header {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 2fr 25fr;
        grid-template-areas:
            "header-logo header-nav"
            ". header-text";
        max-height: 650px;
    }

    .header-logo {
        font-size: 35px;
    }

    .header-nav__link {
        font-size: 15px;
    }

    .header-text {
        justify-self: left;
        margin: 0 2%;
    }

    .header-title {
        font-size: 40px;
    }

    .header-subtitle {
        font-size: 18px;
    }

    .features {
        min-height: 850px;
        max-height: 851px;
    }

    .features-items h1 {
        font-size: 24px;
    }

    .features-items p {
        font-size: 16px;
    }

    .button-subscribe {
        font-size: 17px;
        padding: 16px 51px;
        left: 59%;
        top: 0;
    }
}

@media screen and (max-width: 520px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 20fr;
        grid-template-areas:
            "header-logo"
            "header-nav"
            "header-text";
        max-height: 650px;
    }

    .header-logo {
        font-size: 35px;
        justify-self: center;
    }

    .header-nav {
        justify-self: center;
    }

    .header-nav__link {
        font-size: 17px;
    }

    .header-nav__link:last-child {
        margin-right: 0;
    }

    .header-text {
        justify-self: center;
        align-self: flex-start;
        text-align: center;
        margin: 10% 2%;
    }

    .header-title {
        font-size: 40px;
    }

    .header-subtitle {
        font-size: 18px;
    }

    .easy-messaging .section-title {
        font-size: 40px;
    }

    .easy-messaging .section-subtitle {
        font-size: 15px;
        margin: 0 3%;
    }

    .keep-in-touch .section-title {
        font-size: 40px;
    }

    .keep-in-touch .section-subtitle {
        font-size: 15px;
        margin: 0 3%;
    }

    .features {
        min-height: 800px;
        max-height: 771px;
    }

    .first-col {
        text-align: center;
    }

    .third-col {
        text-align: center;
    }

    .section-items {
        margin-bottom: 10%;
        margin-right: 0;
        width: 100%;
    }

    .conversation img {
        top: 40%;
        right: 40%;
    }

    .make-a-call img {
        top: 100%;
        right: 40%;
    }

    .take-a-picture img {
        top: 40%;
        left: 43%;
    }

    .send-video img {
        top: 100%;
        left: 43%;
    }

    .what-people-say .section-title {
        font-size: 35px;
    }

    .subscribe .section-title {
        font-size: 27px;
    }

    .subscribe .section-subtitle {
        font-size: 15px;
    }

    .subscribe-input {
        margin: 7% 0;
        padding: 10px;
        width: 300px;
    }

    .button-subscribe {
        padding: 12px 31px;
        font-size: 13px;
        left: 59%;
        top: 0;
    }

    .download .section-title {
        font-size: 27px;
    }

    .download .section-subtitle {
        font-size: 15px;
        margin: 0 5%;
    }

    .footer {
        height: 200px;
        width: 100%;
    }

    .footer-nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "footer-nav__link";
        justify-items: center;
        align-items: center;
    }

    .footer-nav__link {
        font-size: 18px;
        margin-left: 65%;
        margin-top: 5%;
    }
}

@media screen and (max-width: 480px) {
    .footer-nav__link {
        font-size: 16px;
        margin-left: 66%;
    }
}

@media screen and (max-width: 450px) {
    .footer-nav__link {
        font-size: 16px;
        margin-left: 64%;
    }
}

@media screen and (max-width: 410px) {
    .footer-nav__link {
        font-size: 16px;
        margin-left: 62%;
    }
}

@media screen and (max-width: 370px) {
    .subscribe .section-title {
        font-size: 24px;
    }

    .header-nav__link {
        font-size: 15px;
        margin-right: 20px;
    }

    .footer-nav__link {
        font-size: 16px;
        margin-left: 59%;
    }
}


@media screen and (max-width: 340px) {
    .footer-nav__link {
        font-size: 16px;
        margin-left: 56%;
    }
}
