@use 'options/options';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

/* Initialization */

*,
*:after,
*:before {
  scroll-behavior: smooth;
  scroll-margin-block-start: 10vh;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*,
*:focus,
*:active {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  // background: rgba(0, 0, 0, 0.3);
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid options.$white-color;
  border-radius: options.$default-border-radius;
}

body {
  width: 100%;
  font-size: 18px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
  opacity: 1;
  background-color: options.$bg-color;
  color: options.$white-color;
}

img {
  max-width: 100%;
  pointer-events: none;
  background-attachment: fixed;
}

a,
button {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  background: transparent;
  border: none;
}

i {
  display: inline !important;
}

// Start

.wrapper {
  display: block;
  max-width: 1024px;
  margin: 0 auto;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

// Header

header {
  .navbar {
    .navbar-collapse {
      .nav-link {
        padding-bottom: 0;
      }
    }

    .container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .collapse {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .search-box {
          margin-right: 50px;
          position: relative;

          input {
            border-radius: 25px;
            padding-left: 8px;
          }

          i {
            position: absolute;
            top: 7px;
            right: -15%;
            color: options.$white-color;
          }
        }

        button {
          margin-right: 10px;
        }
      }
    }
  }
}

// Main
main {
  margin-top: 80px;

  .introduction {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .introduction__title {
      color: options.$white-color;
      font-size: 60px;
    }

    .introduction__frame {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      height: 1000px;
      margin: 50px 0;
      background-color: transparent;
      border: 10px solid options.$purple-color;
      border-radius: options.$default-border-radius;

      .menu {
        display: inline-block;
      }

      .menu._active .menu__list {
        display: block;
      }

      .menu._active .menu__button span:first-child {
        display: none;
      }
      .menu._active .menu__button span:last-child {
        display: block;
      }

      .menu__button span:first-child {
        display: block;
      }
      .menu__button span:last-child {
        display: none;
      }

      .menu__list {
        display: none;
        background-color: #77608d;
        padding: 15px;
      }
      .menu__list li:not(:last-child) {
        margin: 0px 0px 15px 0px;
      }
      .menu__link {
        color: #fff;
        font-size: 16px;
      }
      .menu__link:hover {
        text-decoration: none;
      }

      // -------------------------------------

      .introduction__search-form {
        display: inline-block;
      }

      .introduction__search-form._active .introduction__search {
        display: block;
      }

      .introduction__search-form._active .open-search span:first-child {
        display: none;
      }
      .introduction__search-form._active .open-search span:last-child {
        display: block;
      }

      .introduction__search {
        display: none;
        background-color: #77608d;
        padding: 15px;
      }

      // -------------------------------------

      .block-for-mouse {
        padding: 15px;
        font-size: 14px;
        width: 200px;
        height: 200px;
        background-color: #7a956b;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        text-align: center;
      }

      .block-for-mouse span {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .textarea__item {
        width: 300px;
        height: 150px;
        padding: 10px;
        font-size: 18px;
        color: #fff;
        background-color: rgb(44, 43, 43);
      }

      //-------------------------------------

      .main-form {
        display: flex;
        flex-wrap: wrap;
      }
      .main-form._active {
        outline: 1px solid red;
      }
      .main-form__column {
        flex: 0 1 50%;
      }
      .main-form__column:last-child {
        flex: 1 1 auto;
      }
      .main-form__item {
        margin: 0px 0px 25px 0px;
      }
      .main-form__label {
        display: block;
        margin: 0px 0px 10px 0px;
      }
      .main-form__input,
      .main-form__select,
      .main-form__textarea {
        font-family: inherit;
        min-height: 40px;
        font-size: 16px;
        line-height: 40px;
        width: 250px;
        padding: 0px 15px;
        color: #fff;
        background-color: rgb(48, 48, 48);
        border: 1px solid #111;
        border-radius: 3px;
      }
      .main-form__textarea {
        padding: 10px 15px;
        min-height: 100px;
      }

      .main-form__radio {
        margin: 0px 0px 5px 0px;
      }

      .main-form__image {
        margin: 10px 0px 0px 0px;
      }
      .main-form__image img {
        width: 150px;
      }

      .main-form__error {
        padding: 10px 0px 0px 0px;
        color: red;
      }

      .block-preview {
        width: 400px;
        height: 100px;
        background-color: #fff;
      }

      //-------------------------------------

      .project-one {
        display: flex;
        padding-top: 100px;
        width: 100%;
        max-width: 700px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      //-------------------------------------

      .calculator {
        display: flex;
        padding-top: 100px;
        width: 100%;
        max-width: 300px;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .calculator-buttons {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          margin-top: 20px;

          .ordinary-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-content: center;
          }

          .special-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }

          .calculator-button {
            width: 50px;
            height: 50px;
            margin-right: 5px;
            margin-bottom: 5px;
          }
        }
      }
    }

    //-------------------------------------

    #create_card {
      display: block;
      width: 370px;
      margin: auto;
      text-align: left;
      padding: 20px;
      margin-top: 10px;
      background: options.$purple-color;
      border-radius: options.$default-border-radius;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);

      .inner-block {
        margin: 15px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
      }

      .inner-block_buttons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      h2 {
        color: black;
        text-align: center;
      }

      p {
        margin-bottom: 0;
      }

      textarea {
        width: 100%;
        border-radius: 5px;
        font-family: inherit;
        border: 1px solid lightgray;
        resize: none;
      }

      button {
        width: fit-content;
      }
    }

    #flashcards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      margin: auto;
      margin-top: 10px;
      padding: 0px 10px;

      .flashcard {
        width: 370px;
        height: 200px;
        word-wrap: break-word;
        margin: 10px;
        background: options.$purple-color;
        cursor: pointer;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
        position: relative;
      }

      .flashcard h2 {
        font-size: 1rem;
      }

      .fa-minus {
        top: 3%;
        right: 2%;
        z-index: 999;
        position: absolute;
        color: #1a1a1a;
        transition: 0.3s ease-out;
      }

      .fa-minus:hover {
        color: red;
      }
    }

    //---------------------------------

    .timer-container {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 7px dashed options.$purple-color;

      .timer-container__display {
        font-size: 62px;
      }
    }

    //---------------------------------

    #typedtext {
      font-size: 28px;

      span {
        animation: blinker 1s linear infinite;
      }
    }

    .game-container {
      position: relative;
      margin: auto;
      height: 350px;
      width: 450px;

      .figure-container {
        fill: transparent;
        stroke: #fff;
        stroke-width: 4px;
        stroke-linecap: round;

        .figure-part {
          display: none;
        }
      }

      .wrong-letters-container {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        text-align: right;

        p {
          margin: 0 0 5px;
        }

        span {
          font-size: 20px;
        }
      }

      .word {
        display: flex;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
      }

      .letter {
        border-bottom: 3px solid options.$purple-color;
        display: inline-flex;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        margin: 0 3px;
        height: 50px;
        width: 20px;
      }
    }

    .popup-container {
      background-color: rgba(0, 0, 0, 0.3);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      // display: flex;
      display: none;
      align-items: center;
      justify-content: center;

      .popup {
        background: #77608d;
        border-radius: 5px;
        padding: 20px;
        text-align: center;

        button {
          margin-top: 20px;
        }
      }
    }

    .notification-container {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 10px 10px 0 0;
      padding: 15px 20px;
      position: fixed;
      bottom: -60px; //(-450px)
      transition: all 0.3s ease;

      p {
        margin: 0;
      }
    }

    .notification-container.show {
      transform: translateY(-60px);
    }

    //---------------------------------

    .meal-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .flex {
        display: flex;

        form {
          input {
            border-radius: options.$default-border-radius;
            margin-right: 20px;
          }
          button {
            margin-right: 20px;
          }
        }
      }

      #result-heading {
        margin: 20px 0;
      }

      .meals {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;

        .meal {
          position: relative;
          cursor: pointer;
          height: 180px;
          width: 180px;
          text-align: center;
          border: 4px #fff solid;
          border-radius: 2px;

          img {
            width: 100%;
            height: 100%;
          }

          .meal-info {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: options.$default-transition;
            opacity: 0;

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      .single-meal {
        margin: 30px auto;
        width: 70%;

        img {
          width: 300px;
          margin: 15px;
          border: 4px #fff solid;
          border-radius: 2px;
        }

        p {
          margin: 0;
          letter-spacing: 0.5px;
          line-height: 1.5;
        }

        ul {
          padding-left: 0;
          text-align: left;

          li {
            border: 1px solid #ededed;
            border-radius: 5px;
            background-color: #fff;
            display: inline-block;
            color: #1a1a1a;
            font-size: 12px;
            padding: 5px;
            margin: 0 5px 5px 0;
          }
        }
      }

      .single-meal-info {
        margin: 20px;
        padding: 10px;
        border: 2px #77608d dashed;
        border-radius: options.$default-border-radius;
      }
    }
  }
}
