@use 'options/options';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* Initialization */

*,
*:after,
*:before {
    scroll-behavior: smooth;
    scroll-margin-block-start: 10vh;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

*,
*:focus,
*:active {
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    // background: rgba(0, 0, 0, 0.3);
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid options.$white-color;
    border-radius: options.$default-border-radius;
    
}

body {
    width: 100%;
    font-size: 18px;
    position: relative;
    line-height: 1.65;
    overflow-x: hidden;
    opacity: 1;
    background-color: options.$bg-color;
    color: options.$white-color;
}

img {
    max-width: 100%;
    pointer-events: none;
    background-attachment: fixed;
}

a,
button {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    background: transparent;
    border: none;
}

i{
    display: inline !important;
}

// Start

.wrapper {
    display: block;
    max-width: 1024px;
    margin: 0 auto;
}

// Main
main {
    margin-top: 100px;

    .introduction {
        display: flex;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    
        .introduction__title {
            color: options.$white-color;
            font-size: 60px;
        }
    
        .introduction__frame {
            width: 100%;
            height: 40vh;
            margin: 50px 0;
            background-color: transparent;
            border: 10px solid options.$purple-color;
            border-radius: options.$default-border-radius;
        }
    }
}

